# only exact versions allowed (<, >, <=, >= not supported by testing)
appdirs==1.4.4
cachetools==6.0.0
chardet==5.2.0
colorama==0.4.6
distlib==0.3.9
filelock==3.18.0
numpy==2.3.0
packaging==25.0
platformdirs==4.3.8
pluggy==1.6.0
py==1.11.0
pyparsing==3.2.3
pyproject-api==1.9.1
pyrlu==0.2.1
scipy==1.15.3
setuptools==80.9.0
six==1.17.0
toml==0.10.2
tox==4.26.0
virtualenv==20.31.2
